* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7F719C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23655A7C' fill-opacity='0.45' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");

}

a {
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
    transition: all 0.4s ease;
}

a:hover {
    opacity: 0.8;
}

.container {
    height: 450px;
    width: 300px;
    display: grid;
    grid-template-areas: "h1 h1 h1 h1"
        "clear delete plus minus"
        "n7 n8 n9 mult"
        "n4 n5 n6 divide"
        "n1 n2 n3 equal"
        "point n0 percent equal";
    justify-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    background-color: #AB92BF;
    box-shadow: 8px 8px 0px #51456b;
    border-radius: 30px;
}

button {
    cursor: pointer;
    width: 55px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #AFC1D6;
    box-shadow: 3px 3px 0px #8e70a7;
    color: #655A7C;
    font-size: large;
    transition: 0.4s;
    outline: none;
}

button:hover {
    background-color: #CEF9F2;
}

button:active {
    background-color: #AFC1D6;
}

h1 {
    pointer-events: none;
    grid-area: h1;
    height: 70px;
    width: 255px;
    font-size: x-large;
    letter-spacing: 5px;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    color: #655A7C;
    border-top: 8px solid #8e70a7;
    border-right: 2px solid #8e70a7;
    border-left: 2px solid #8e70a7;
    border-radius: 25px;
    line-height: 65px;
    overflow-x: auto;
    overflow-y: hidden;
    outline: none;
}

h1:empty:before {
    content:attr(data-placeholder);
    color:#655a7ca6
}

#clear {
    grid-area: clear;
    background-color: #CEF9F2;
}

#clear:hover {
    background-color: #00FFCD;
}

#clear:active {
    background-color: #CEF9F2;
}

#delete {
    grid-area: delete;
    background-color: #CEF9F2;
}

#delete:hover {
    background-color: #00FFCD;
}

#delete:active {
    background-color: #CEF9F2;
}

#plus {
    grid-area: plus;
    background-color: #CEF9F2;
}

#plus:hover {
    background-color: #00FFCD;
}

#plus:active {
    background-color: #CEF9F2;
}

#minus {
    grid-area: minus;
    background-color: #CEF9F2;
}

#minus:hover {
    background-color: #00FFCD;
}

#minus:active {
    background-color: #CEF9F2;
}

#n7 {
    grid-area: n7;
}

#n8 {
    grid-area: n8;
}

#n9 {
    grid-area: n9;
}

#mult {
    grid-area: mult;
    background-color: #CEF9F2;
}

#mult:hover {
    background-color: #00FFCD;
}

#mult:active {
    background-color: #CEF9F2;
}

#n4 {
    grid-area: n4;
}

#n5 {
    grid-area: n5;
}

#n6 {
    grid-area: n6;
}

#divide {
    grid-area: divide;
    background-color: #CEF9F2;
}

#divide:hover {
    background-color: #00FFCD;
}

#divide:active {
    background-color: #CEF9F2;
}

#n1 {
    grid-area: n1;
}

#n2 {
    grid-area: n2;
}

#n3 {
    grid-area: n3;
}

#equal {
    grid-area: equal;
    height: 110px;
    background-color: #00FFCD;
    font-size: larger;
}

#equal:hover {
    background-color: #04b8ff;
}

#equal:active {
    background-color: #00FFCD;
}

#point {
    grid-area: point;
    background-color: #CEF9F2;
}

#point:hover {
    background-color: #00FFCD;
}

#point:active {
    background-color: #CEF9F2;
}

#n0 {
    grid-area: n0;
}

#percent {
    grid-area: percent;
    background-color: #CEF9F2;
}

#percent:hover {
    background-color: #00FFCD;
}

#percent:active {
    background-color: #CEF9F2;
}